.App {
  text-align: center;
}

/* TODO: fix slidein animation so the icons align properly and fit screen (possible stack for mobile) */
#icon {
  animation-duration: 3s;
  animation-name: slidein;
  overflow: hidden;
}

.App-header {
  background: rgb(34,168,195);
background: linear-gradient(305deg, rgba(34,168,195,1) 0%, rgba(232,188,49,1) 98%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
